/*RESPONSIVE*/
@media (min-width: 1562px) and (max-width: 1670px) {
    .viewport-section{
        min-height: calc(100vh - 178px);
    }
  }
@media (min-width: 1024px) and (max-width: 1561px) {
    .iframe-maps {
        width: 450px;
    }
    .viewport-section{
        min-height: calc(100vh - 169px);
    }
  }

@media (min-width: 769px) and (max-width: 1023px) {
    .nav-link.active::after {
        display: none;  
    }
    .nav-link::after {
        display: none;
    }
    .img-footer{
        width: 25%;
    }
    .nav-link {
        font-size: 13px;
    }
    .iframe-maps {
        width: 600px;
    }
    .iframe-maps {
        width: 450px;
    }
    .img-footer-logo {
        width: 30%;
    }
  }

@media (min-width: 577px) and (max-width: 768px) {
    .nav-link.active::after {
        display: none;  
    }
    .nav-link::after {
        display: none;
    }
    .img-footer{
        width: 150px;
    }
    .iframe-maps {
        width: 500px;
    }
    .img-footer-logo {
        width: 30%;
    }
    .margin-btn {
        margin-bottom: 25px;
    }
}

@media (max-width: 576px) {
    .img-footer{
        width: 30%;
    }
    .img-footer-logo {
        width: 50%;
    }
    .img-navbar{
        margin-left: 5px;
     }
    .nav-link.active::after {
        display: none;  
    }
    .nav-link::after {
        display: none;
    }
    .title-home {
        margin-top: 25px;
    }
    .margin-btn {
        margin-bottom: 30px;
    }
    .title {
        font-size: 1.8rem;
    }
    .subtitle-home {
        font-size: 1.4rem;
    }
    .margin-sub {
        margin-bottom: 20px !important;
    }
    .title-card{
        font-size: 23px;
    }
    .text {
        font-size: 17px;
    }
    .iframe-maps {
        max-width: 300px;
    }
}
  
@media (min-width: 992px) and (max-width: 1124px) {
    .nav-link {
        font-size: 13px;
    }
  }
  @media (min-width: 1025px) and (max-width: 1440px) {
    .iframe-maps {
        width: 600px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1353px) {
    .viewport-section{
        min-height: calc(100vh - 162px);
    }
  }
  @media (min-width: 992px) and (max-width: 1023px) {
    .viewport-section{
        min-height: calc(100vh - 172px);
    }
  }
  @media (min-width: 1671px) and (max-width: 1885px) {
    .viewport-section{
        min-height: calc(100vh - 180px);
    }
  }