* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #FFFFFF;
    --color-light-gray: #D9D9D9;
    --color-gray: #B6B6B6;
    --color-yellow: #FDCF3B;
    --color-light-yellow: #FAE6A6;
    --color-black: #000000;
}

body {
    font-family: "Roboto", serif;
    color: var(--color-black);
    background-color: var(--color-white);
}

/*NAV*/
.bg-nav {
    background-color: var(--color-yellow);
}
.nav-link {
    color:var(--color-black);
}
.nav-link:hover {
    color:var(--color-black);
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--color-black);
    transition: width 0.35s ease-in-out;
}
.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 2px;
    background-color: var(--color-black);
    transition: width 0.35s ease-in-out; 
}

.nav-link:hover::after {
    width: 90%; 
}

/*TEXTOS*/
.title {
    font-size: 2rem;
}
.subtitle {
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
.text {
    font-size: 18px;
   line-height: 1.6;
}
.conclusion{
    font-size: 1.4rem;
}

/*CARDS*/
.card, .card-body{
    background-color: #FAE6A6;
    color: var(--color-black);
}
.card-size {
    height: 20rem;
}
.card-size-educ {
    height: 100%;
}

/*HOME*/
.btn-home {
    background-color: var(--color-yellow);
    font-size: 18px;
    border-color: var(--color-black);
}
.btn-home:hover{
    background-color: var(--color-light-yellow);
}
.home {
    min-height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*SERVICIOS*/
.titulo {
    font-size: 30px;
    font-weight: 700;
}

/*CITAS*/
.bg-booking{
    background-color: var(--color-light-gray);
}
/* .card-size-booking{
    height: 24rem;
} */
.margin-section {
    padding: 0 200px;
}

/*FOOTER*/
footer {
    background-color:#BDC3C7;
}
.img-footer{
    width: 60%;
    padding: 8px;
    margin-top: 5px;
}
.footer-margin{
    margin-left: 400px;
}
